@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>The application is a generic forum.</p>

<address>
    <strong>Source code:</strong> <a href="https://github.com/renancosme/simpleforum">https://github.com/renancosme/simpleforum</a>
</address>

