@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Support:</strong> <a href="mailto:renancosme@yahoo.com.br">renancosme@yahoo.com.br</a><br />
    <strong>About the author:</strong> <a href="renancosme.com">renancosme.com</a>
</address>
